html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
    background-color: #1a202c;
    color: #edf2f7;

    background-color: #202124;
    color: #bdc1c6;

    font-size: 1rem;
    line-height: 1.5rem;
    font-family: ui-sans-serif, system-ui, "Helvetica Neue", "Arial", "Noto Sans", sans-serif;
}
html, a {
    color: #bdc1c6;
}

a:hover {
    color: gold;
}

body {
    max-width: 800px;
    box-sizing: border-box;
    margin: 2em auto;
}

.masthead h1 {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 0.75rem;
}

.hmenu {
    display: flex;
    flex-direction: row;
}
.hmenu > * {
    margin-right: 0.5rem;
    font-weight: 600;
    margin: 0 7px;
}
.hmenu > *:first-child {
    margin-left: 0px;
}

article {
    margin: 1rem 0 2rem;
}
article h1 {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin: 0 0 0.75rem;
}
article h1, article h1 a {
    color: limegreen;
}
article p {
    margin: 0 0 0.75rem 0;
    padding: 0;
}
article p a {
    color: #8ab4f8;
}

.box {
    width: 20rem;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    background-color: rgba(45,55,72,1);
}
.box h2 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
    padding-bottom: 0.25rem;
    border-bottom: 1px solid;
}
.box h2 a, .box .linklist a {
    text-decoration: none;
}

.fg-content {
    color: rgba(107, 114, 128, 1);
}

.linklist {
}
.linklist li {
    list-style: none;
    margin-bottom: 0.5rem;
    line-height: 1.25;
}
.linklist a {
}









